.circulo {
    width: 7px;
    height: 7px;
    background-color: green;
    border-radius: 50%;
}

.circulo2 {
    width: 7px;
    height: 7px;
    background-color: rgb(221, 10, 10);
    border-radius: 50%;
}

.full-width {
    width: 30%;
}

.search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-button {
    margin-left: 10px;
    /* Ajusta el espacio entre el campo de entrada y el botón */
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #4057da;
}