<h2>Roles y Permisos</h2>
<div class="search-container">

    <!-- Actual search box -->
    <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
        <input matInput type="text" class="form-control" placeholder="Search" (keyup)="filterTable($event)">
    </div>

    <div>
        <button class="btn btn-danger color__secundary" (click)="openCreate()">Agregar roles</button>
    </div>

</div>


<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>

        <!-- Position Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let rolItems"> {{rolItems.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="rol">
            <th mat-header-cell *matHeaderCellDef> Rol </th>
            <td mat-cell *matCellDef="let rolItems"> {{rolItems.nombre}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef> Estado </th>
            <td mat-cell *matCellDef="let rolItems"> {{rolItems.isActive ? "Activo": "Desactivado"}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef> Acciones </th>
            <td mat-cell *matCellDef="let rolItems">
                <div class="row__table__img">
                    <a class="btn btn-success " matTooltip="Editar" (click)="openUpdate(rolItems)">
                        <i class="fas fa-edit"></i>
                    </a>
                    <a class="btn btn-danger ml-2 color__secundary" matTooltip="Editar"
                        (click)="openDelete(rolItems.id)">
                        <i class="fas fa-trash-alt"></i>
                    </a>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 100]" style="margin-top: 0;"></mat-paginator>
</div>